<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1091695528455-oim1dtg3lcvlpbqhtu6ksvvsflho4b7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091695528455-oim1dtg3lcvlpbqhtu6ksvvsflho4b7p</string>
	<key>API_KEY</key>
	<string>AIzaSyA11s3TqKj6SAaR882mFtJVSzaM0V48lEw</string>
	<key>GCM_SENDER_ID</key>
	<string>1091695528455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blogspot.carirunners.run</string>
	<key>PROJECT_ID</key>
	<string>carirunners-57b89</string>
	<key>STORAGE_BUCKET</key>
	<string>carirunners-57b89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091695528455:ios:3adeaa6710ff5f38</string>
	<key>DATABASE_URL</key>
	<string>https://carirunners-57b89.firebaseio.com</string>
</dict>
</plist>